img {
    width: 26%;
    margin: calc(19%/6);
}

nav {
    font-family: Raleway, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 26%;
    margin-left: calc(19%/6);
    padding: 0.5em 0;
}